/* Responsive Design */
@media (max-width: 900px) {
  .music-item {
    flex-direction: column;
    margin: 3rem auto;
    gap: 1.5rem;
  }
  
  .music-item:nth-child(even) {
    flex-direction: column;
  }
  
  .music, .music-text {
    width: 100%;
  }
  
  .music-text {
    padding: 1.5rem;
  }
}

@media (max-width: 600px) {
  .music-text h1 {
    font-size: 2rem;
  }
  
  .music-text:last-child h1 {
    font-size: 2.5rem;
  }
}